/* react-split-pane styles */
.Resizer {
  background: rgba(255, 255, 255, 0.05);
  opacity: 1;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer:hover {
  transition: all 0.2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(16, 185, 129, 0.3);
  border-bottom: 5px solid rgba(16, 185, 129, 0.3);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(16, 185, 129, 0.3);
  border-right: 5px solid rgba(16, 185, 129, 0.3);
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}
